pat<div>

  <h1 align="center">
    Jesteś głodny ale nie wiesz co chcesz zjeść? Znajdziemy przepis za ciebie! Wystarczy wybrać produkty posiadane w lodówce,
    a aplikacja znajdzie i zaproponuje pasujace przepisy. Nawet nie wiesz jakie to jest proste.
    <br>
    <br>
    
  </h1>

  <div align="center"><img src="http://www.foodbookbd.com/images/foodbook_logo.png"></div>

  <h1 align="center">
    Wypróbuj teraz.
    <br>
  </h1>

</div>

<div align="center">
  <a routerLink="search">
    <input type="submit" class="btn" value="Start now!">
  </a>
</div>