<!-- Kontener zawierający  -->
<div class="container ">
  <div class="color-dark title1 box-shadow">
    <p class="txt">Add products to your fridge</p>
  </div>
 
  <div class="color-dark title2 box-shadow">
    <p class="txt">Your products list ({{ itemCount }})</p>
  </div>
 
  <div class="gap"><p></p></div>
 
  <div class="color-light col content1 box-shadow">
    <p style="text-align: center">Use this form below to add a new products to your fridge. We will find matching recipes for you. </p>
    <form (submit)="addItem()" >
      <input type="text" class="txt" name="item" align="center" placeholder="Type any product .." [(ngModel)]="productText">
      <br>
    </form>
    <div class="column2 ">
      <div>
        <input type="submit" class="btn" [value]="buttonText" (click)="addItem()">
      </div>
      <div>
        <input type="submit" class="btn" value="Search recipes" (click)="searchRecipes()">
      </div>
    </div>
  </div>
 
  <div class="color-light col content2 box-shadow">
 
      <div class="fill" *ngIf="!isProduct">
        <p>Time to fill up your fridge.</p>
      </div>
 
      <div class="" *ngIf="isProduct" [@products]="productTab.length">
        <p class="life-container" *ngFor="let product of productTab; let i = index" (click)="removeItem(i)"> {{ product }}</p>
      </div>
  </div>
</div>
 
<div class="gap2"><p></p></div>
 
<div class="recipe">
<div class="color-light box-shadow rcorners " *ngFor="let result of data?.hits; let i = index" >
 
  <div class="header">
    <p>{{result.recipe.label}}</p>
  <img src= "{{result.recipe.image}}">
  <br><br>
 
  <span *ngFor="let ingredient of result.recipe.ingredientLines">
    {{ingredient}} <br>
  </span>
  <br>
  <p>Calories: {{result.recipe.calories}}</p>
   <br>
 
  <button class="btn" (click)="createFavourite(result.recipe.label, result.recipe.image, result.recipe.url, result.recipe.calories)" >
    <i class="fas fa-heart">Add to favourites</i>
  </button>
 
  <br><br>
    <a class="a" href='{{result.recipe.url}}'>Click for more information</a>
  </div>
 
</div>
</div>