<div class="container gap">
  <div class="box-shadow color-dark rcorners"> <h1 style="text-align: center">Your favourite recipes</h1> </div>
</div>

<div class="container gap">

      <div class="row box-shadow rcorners color-light" *ngFor="let item of favourites | async" >

          <div class="col-sm"> <img src="{{ item.photoUrl }}" class="pic-fav" width="100px" height="100px">  </div>
          <div class="col-6-sm">  <h3 class="">{{ item.name }}</h3> <br>
          <a class="" href='{{ item.url }}' target="_blank" style="color: white">Click for more information</a> </div>
          <div class="col-sm"> </div><button type="button" class="btn btn-labeled btn-danger" (click)="deleteItem(item.$key)">
              <span class="btn-label"><i class="glyphicon glyphicon-trash" (click)="deleteItem(item.$key)"></i></span>Delete</button>
          
      </div>
      <input type="submit" class="btn2" value="Delete all recipes!" (click)="deleteItems()">

</div>
