@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
  max-width: 100%;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.center-text {
  margin: 0 auto;
  text-align: center;
}

.marginLR{
  max-width: 100%;
  margin-left: 0.17%;
}

.gap{
  display:grid;
  grid-gap: 10px;
}

img {
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;}


.btn {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
  }


@media screen and (max-width: 600px) {
  // .pic-fav {
  //   max-width: 100%;
  //   height: auto;

  // }

  .btn{
    width: 100px;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .center {
    margin: 0 auto;
    text-align: center;
  }

  .text-respo {
    font-size: 100%;
    max-width: 70%;
  }

}

@media screen and (max-width: 800px) {
  .title-size {
    font-size: 90%;
  }
}

