@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:rgb(46, 156, 230); //background color
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}
.color-light {
  background: rgb(87, 179, 241); //color below
}
.rcorners {
  border-radius: 25px;
}
