<div class="container">
  <div class="color-light home rcorners box-shadow">

    <div class="container gap">
      <p><b>Need some help deciding choose what to eat?</b></p>
      <p>In FoodBook you can put all of the products which you have in your fridge and we will find matching recipes for you!</p>
    </div>
    <div>
      <p>Are you curious how it works?</p>
    </div>

    <div class="buttons">
      <a routerLink="search">
        <input type="submit" class="btn" value="Test now!">
      </a>
    </div>

  <div class="column3 textCenter">
    <div>
      <img src="assets/images/fork.png" class=" icon">
      <p><b>Find matching recipes</b></p>
      You can easily find matching recipes based on the ingredients you have provided
      <p>
        <!-- bottom margin inside each div, dont delete this line -->
      </p>
    </div>
    <div>
      <img src="assets/images/bar.png" class="img-fluid mx-auto icon" alt="Responsive image">
      <p><b>Menu creator</b></p>
      You can create your own menu by adding recipes that you like to favourites
    </div>
    <div>
      <img src="assets/images/best.png" class="img-fluid mx-auto icon" alt="Responsive image">
      <p><b>Best choice</b></p>
      We need sure generate the internet to repeat predefine the centuries internet
    </div>
  </div>


  <div>
  </div>
</div>
