<div class="container">
  <div class="color-light home rcorners">

  <div class="container">
    <p>Jesteś głodny ale nie wiesz co chcesz zjeść? Znajdziemy przepis za ciebie! Wystarczy wybrać produkty posiadane w lodówce,
      a aplikacja znajdzie i zaproponuje pasujace przepisy. Nawet nie wiesz jakie to jest proste.</p>
  </div>

  <div>
    <img src="http://www.foodbookbd.com/images/foodbook_logo.png" class="img-fluid mx-auto" alt="Responsive image" >
  </div>

  <div>
    <p>Wypróbuj teraz.</p>
  </div>


<div class="buttons">
  <a routerLink="search">
    <input type="submit" class="btn" value="Test now!">
  </a>
  <a>
    <input type="submit" class="btn" value="Sign up!">
  </a>
</div>

</div>
</div>
