<div class="container">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary rcorners">
  <a class="navbar-brand" >
    <img src="assets/images/logo.png" width="35px" alt="FoodBookLogo"/> FoodBook
  </a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink=""> <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="search"><i class="fas fa-search"></i> Search </a>
      <a class="nav-item nav-link desktop-hide" *ngIf="!isLogin" routerLink="login"><i class="fas fa-sign-in-alt"></i> Sign in </a>
      <a class="nav-item nav-link desktop-hide" *ngIf="!isLogin" routerLink="register"><i class="fas fa-user-plus"></i> Sign Up </a>
      <a class="nav-item nav-link desktop-hide" *ngIf="isLogin" (click)="onClickLogout()">Logout</a>

    </div>
  </div>

  <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <button class="btn btn-outline-success my-2 my-sm-0 margin mobile-hide" *ngIf="!isLogin" type="submit" routerLink="login"><i class="fas fa-sign-in-alt"></i> Sign in </button>
    <button class="btn btn-outline-success my-2 my-sm-0 margin mobile-hide" *ngIf="!isLogin" type="submit" routerLink="register"><i class="fas fa-user-plus"></i> Sign up </button>
    <button class="btn btn-outline-success my-2 my-sm-0 margin mobile-hide" *ngIf="isLogin" (click)="onClickLogout()">Logout</button>
    <img src="{{usernamePhoto}}" *ngIf="isLogin" class="rounded-circle">
    <span class="badge pill badge-secondary" *ngIf="isLogin">{{userEmail}}</span>

  </div>

</nav>
</div>

