<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary rcorners">
  <a class="navbar-brand" >
    <img src="assets/images/logo.png" width="35px" alt="FoodBookLogo"/> FoodBook
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="search">Search</a>
    </div>
  </div>

  <form class="form-inline">
    <input type="text" class="form-control txt" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    <input type="password" class="form-control txt" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    <button class="btn btn-outline-success my-2 my-sm-0 margin" type="submit">Log In</button>
    <button class="btn btn-outline-success my-2 my-sm-0 margin" type="submit">Sigh Up</button>
  </form>

</nav>
</div>
