.container {
  display: grid;
  grid-template-columns: 100%;
  padding: 1em;
}

 .rcorners {
    border-radius: 25px;
}

input.txt {
  width: 8em;
  margin-right:10px;
}
button.margin{
  margin-right:5px;
}
