.container {
  display: grid;
  grid-template-columns: 100%;
  padding: 1em;
}

.navbar-dark {
  background: rgba(40, 133, 196, 0.5) !important;
}

.rcorners {
  border-radius: 25px;
}

input.txt {
  width: 8em;
  margin-right: 10px;
}

button.margin {
  margin-right: 5px;
}

@media screen and (min-width: 993px) {
  .desktop-hide {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  .mobile-hide {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  .container {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.rounded-circle{
  width: 25px;
}
