<div class="container">
  <div class="color-light home rcorners box-shadow">

    <div >
     <p> <h1> About FoodBook </h1> <p>
     <p class="about1">Our app "FoodBook" was created to help users make a delicious dish any time, any day.
       <br>Users can choose ingredients, which they have in theirs fridges, and next our app gives them idea about making something delicious.
       <br>Using our app also allows to adding favorites recipes to special list, so users can comeback to their favorites dishes.
       <br>User sign in to our app by writing login and password. User's data are stored by using Firebase and Google database.
       <br>Info about ingriedients and recipes are download from API shared on website spoonacular.com 
       <br>To integrate project's work, we were using platfrom Trello and Toggl.
       <br>More info about our project, you can find below.   </p>

     <p class="members">Group members: </p>     
     <span class="lista">
        <li>Ewa Dubaj</li>
        <li>Adam Pacholak</li>
        <li>Jakub Piotrowski</li>
        <li>Tomasz Reczyński</li>
        <li>Bartosz Sędłak</li>
     </span>
    <div>
  </div>
</div>
