.container {
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

h1 {
  padding: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.about1
{
  font-style: italic;
}


.lista
{
  list-style-type: disc;
}
