.container {
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

h1 {
  padding: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.about1 {
  font-style: italic;
  padding: 1em;
}

.members {
  text-decoration: underline;
  font-size: 20px;
  text-align:center;
}
.lista
{
  list-style-type: none;
  text-align:center;
  
}
